<div class="footer fixed-bottom bg-gradient-info text-white pb-3 px-3">
  <div class="row">
    <div class="col-auto">
        <a id="rubric73rubric76" class="text-dark" routerLink="/home" routerLinkActive><fa name="copyright" inverse="true"></fa>WorldWideImporters</a>
    </div>
    <div class="col-auto">
        <a id="rubric62rubric75rubric78" class="text-dark" routerLink="/contact" routerLinkActive><fa name="phone" inverse="true"></fa>Contact Us</a>
    </div>
    <div class="col-auto">
        <a id="rubric64rubric74rubric77" class="text-dark" routerLink="/about" routerLinkActive><fa name="address-card" inverse="true"></fa>About us</a>
    </div>
  </div>
</div>
