<div id="rubric72" class="footer fixed-bottom bg-gradient-info py-2">
  <section id="secFooter">
    <h2 class="sr-only">Footer Navigation Links</h2>
    <div class="d-flex justify-content-around flex-row align-items-baseline flex-wrap text-white mx-2">
      <div class="flexChild mr-auto ">
        <a id="rubric73rubric76" class="text-white" routerLink="/home" routerLinkActive>
          <fa name="copyright" inverse="true"></fa>WorldWideImporters
        </a>
      </div>
      <div class="flexChild">
        <a id="rubric62rubric75rubric78" class="text-white" routerLink="/contact" routerLinkActive>
          <fa name="phone" inverse="true"></fa>Contact Us
        </a>
      </div>
      <div class="flexChild">
        <a id="rubric64rubric74rubric77" class="text-white" routerLink="/about" routerLinkActive>
          <fa name="address-card" inverse="true"></fa>About us
        </a>
      </div>
    </div>
  </section>
</div>
