<div class="container-fluid bg-gradient-danger text-white">
  <section id="secAboutUs">
    <h2 class="sr-only">About Us Page</h2>
    <section>
      <h3 class="sr-only">Projects Title</h3>
      <br />
      <div class="display-1 title1">Grocery Cloud</div>
      <div class="display-4 title4">A</div>
      <div class="display-2 title2">World Wide Importers</div>
      <div class="display-4 title3">Company</div>
      <br>
    </section>
    <section>
      <h3 class="sr-only">Projects Info</h3>
      <p>A Microsoft Professional Program (MPP) Capstone Project for Web Front-End Development</p>
      <p>OpenSource, Repository available on <a href="https://github.com/DonCorleone/Capstone-Client"
          class="badge badge-dark">Github</a></p>
      <p>Hosted on Azure <a
          href="https://dev.azure.com/linuswieland/capstone-client-lwieland/_build/latest?definitionId=3&amp;branchName=master"
          rel="nofollow"><img
            src="https://camo.githubusercontent.com/f1c6bbaef6e86c4d294b062e5f7f46cefcfa19ea/68747470733a2f2f6465762e617a7572652e636f6d2f6c696e75737769656c616e642f63617073746f6e652d636c69656e742d6c7769656c616e642f5f617069732f6275696c642f7374617475732f446f6e436f726c656f6e652e43617073746f6e652d436c69656e743f6272616e63684e616d653d6d6173746572"
            alt="Build Status"
            data-canonical-src="https://dev.azure.com/linuswieland/capstone-client-lwieland/_apis/build/status/DonCorleone.Capstone-Client?branchName=master"
            style="max-width:100%;"></a></p>
      <br />
    </section>
    <section>
      <h3 class="title3">Techniques used:</h3>
      <div class="d-flex justify-content-center flex-wrap">
        <div class="badge badge-pill badge-light m-2">HTML 5</div>
        <div class="badge badge-pill badge-light m-2">CSS3</div>
        <div class="badge badge-pill badge-light m-2">JavaScript</div>
        <div class="badge badge-pill badge-light m-2">Angular 7</div>
        <div class="badge badge-pill badge-light m-2">TypeScript 3.2</div>
        <div class="badge badge-pill badge-light m-2">Bootstrap 4.3</div>
        <div class="badge badge-pill badge-light m-2">SASS (SCSS)</div>
        <div class="badge badge-pill badge-light m-2">Font Awesome 4.7</div>
        <div class="badge badge-pill badge-light m-2">jQuery 3.3.1</div>
      </div>
      <br />
    </section>
  </section>
</div>
