// avoid importing entire .scss as it might cause duplicate css styles
// @import '~bootstrap/scss/bootstrap.scss'
// safer to import variables and mixins only to avoid duplicate css styles
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

.card-columns {
  @include media-breakpoint-up(xs) {
     column-count: 1;
  }
  @include media-breakpoint-up(md) {
     column-count: 2;
  }
  @include media-breakpoint-up(lg) {
     column-count: 3;
  }
  @include media-breakpoint-up(xl) {
     column-count: 4;
  }
}

.list-group-item:hover {
  background-color: lightsalmon;
    cursor: pointer;
}
.list-group-item.active {
  background-color: salmon;
}

.card-header{
  background-color: lightgoldenrodyellow;
  cursor: pointer;
}

.card-header.collapsed:hover{
  background-color: goldenrod;
  cursor: pointer;
}
.card-header.collapsed{
  background-color: whitesmoke;
  cursor: pointer;
}
.card.shadow.hover{
  box-shadow: 0.5rem
}
