<div class="container">

  <div class="row tempBorder">
    <div class="col-auto">
      Category 1
    </div>
    <div class="col">

    </div>
    <div class="col-auto">
      <div class="dropdown">Cat1
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <div class="col">

    </div>
  </div>


  <div class="row tempBorder">

    <div class="col-auto tempBorder p-0">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Category 1
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body p-0">
              <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Category 2
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body p-0">
              <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                Category 3
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body p-0">
              <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col tempBorder">
      <div class="row">
        <div class="card-columns">
          <!--div class="ngLoop" *ngFor="let link of links; index as linkIndex;"-->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">xxx</h4>
              <div class="card-text" [innerHTML]="yyy"></div>
              <img class="card-img-bottom" src="../../../assets/images/fallbackImage.png" alt="product name"
                *ngIf="!isImageLoading; else noImageFound">
              <ng-template #noImageFound>
                <img src="../../../assets/images/fallbackImage.png" alt="Fallbackimage">
              </ng-template>
            </div>
            <div class="card-footer">
              <a href="http://xxx" target="_blank">ccc</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">xxx</h4>
              <div class="card-text" [innerHTML]="yyy"></div>
              <img class="card-img-bottom" src="../../../assets/images/fallbackImage.png" alt="product name"
                *ngIf="!isImageLoading; else noImageFound">
              <ng-template #noImageFound>
                <img src="../../../assets/images/fallbackImage.png" alt="Fallbackimage">
              </ng-template>
            </div>
            <div class="card-footer">
              <a href="http://xxx" target="_blank">ccc</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">xxx</h4>
              <div class="card-text" [innerHTML]="yyy"></div>
              <img class="card-img-bottom" src="../../../assets/images/fallbackImage.png" alt="product name"
                *ngIf="!isImageLoading; else noImageFound">
              <ng-template #noImageFound>
                <img src="../../../assets/images/fallbackImage.png" alt="Fallbackimage">
              </ng-template>
            </div>
            <div class="card-footer">
              <a href="http://xxx" target="_blank">ccc</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">xxx</h4>
              <div class="card-text" [innerHTML]="yyy"></div>
              <img class="card-img-bottom" src="../../../assets/images/fallbackImage.png" alt="product name"
                *ngIf="!isImageLoading; else noImageFound">
              <ng-template #noImageFound>
                <img src="../../../assets/images/fallbackImage.png" alt="Fallbackimage">
              </ng-template>
            </div>
            <div class="card-footer">
              <a href="http://xxx" target="_blank">ccc</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">xxx</h4>
              <div class="card-text" [innerHTML]="yyy"></div>
              <img class="card-img-bottom" src="../../../assets/images/fallbackImage.png" alt="product name"
                *ngIf="!isImageLoading; else noImageFound">
              <ng-template #noImageFound>
                <img src="../../../assets/images/fallbackImage.png" alt="Fallbackimage">
              </ng-template>
            </div>
            <div class="card-footer">
              <a href="http://xxx" target="_blank">ccc</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
