<div class="container">
  <!-- Row -->
  <div class="row tempBorder">
    <!-- Column -->
    <div class="col-auto tempBorder py-0">

      <!-- Accordion -->
      <div class="accordion" id="categoriesAccordion">
        <!-- Loop through Categories -->
        <div id="rubric19" *ngFor="let category of categories$ | async; index as i">
          <div id="rubric25" class="card rounded-0">
            <!-- Category Header -->
            <div class="card-header" [attr.id]="'heading' +i" role="button"
              [attr.data-target]="'#collapse' +i" [attr.aria-expanded]="selectedCategory === category" [attr.aria-controls]="'collapse'+i"
              (click)="selectedCategory = category"
              [class.selected]="selectedCategory === category" [class.bg-gradient-danger]="selectedCategory === category"
              [class.collapsed]="selectedCategory !== category">
              {{category.category}}
            </div>
          </div>
          <!-- Category Body -->
          <div [attr.id]="'collapse' +i" [attr.aria-labelledby]="'heading' +i" data-parent="#categoriesAccordion"
            class="collapse" [class.collapsed]="selectedCategory !== category" [class.show]="selectedCategory === category" >
            <div class="card-body p-0">
              <div class="list-group list-group-flush bg-gradient-light" id="rubric26" role="tablist">

                <!-- Loop through Subcategories -->
                <a *ngFor="let subcategory of category.subcategories; index as j"
                  class="list-group-item list-group-item-action " [attr.id]="'listItem' +j" data-toggle="list"
                  [attr.data-target]="'#active' +j" aria-expanded="true" [attr.aria-controls]="'active'+j"
                  (click)="selectedSubcategory = subcategory" [class.selected]="selectedSubcategory === subcategory"
                  [class.bg-gradient-success]="selectedSubcategory === subcategory" [class.collapsed]="selectedSubcategory !== subcategory">
                  {{subcategory.name}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Column Controls Bar & Items-->
    <div class="col">
      <!-- Row Controls Bar-->
      <div class="row">
        <!-- Column Controls Bar-->
        <div class="col">
          <!-- Controls Bar-->
          <div id="rubric14" class="card shadow-sm px-0">
            <div class="card-body">
              <div class="row">
                <div class="align-items-end col-auto">
                  <div id="rubric15rubric26">
                    <h3>
                      {{selectedCategory ? selectedCategory.category : '' }}
                      {{selectedSubcategory && selectedCategory ? ' :  ' : ''}}
                    </h3>
                    <h4>
                      {{selectedSubcategory ? selectedSubcategory.name : ''}}
                    </h4>
                  </div>

                </div>
                <div class="col">

                </div>
                <div class="col-auto">
                  <span id="rubric18">Sort By </span>
                  <select id="rubric29rubric33" class="btn btn-secondary dropdown-toggle"
                    (change)="setOrderBy($event.target.value)">
                    <option value="0">--None--</option>
                    <option *ngFor="let entry of oderByItems" value={{entry}}>
                      {{entry}}
                    </option>
                  </select>
                </div>
                <div class="col-auto">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="rubric17" [checked]="stockOnly"
                      (change)="changeStockOnly()" />
                    <label id="rubric17" class="custom-control-label" for="rubric17">In Stock Only</label>
                  </div>
                </div>
                <!-- <div class="col">

                        </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Row Header -->
      <div class="row">
        <!-- Column Header -->
        <div class="col">
          <div id="rubric16rubric28">
            Showing {{filteredItems? filteredItems.length : 0}} of {{itemsInCategory? itemsInCategory.length : 0}}
            Items
          </div>
        </div>
      </div>
      <!-- Row Items -->
      <div class="row">
        <!-- Column Items -->
        <div class="card-columns px-2 px-sm-0">
          <div id="rubric20" *ngFor="let item of filteredItems; index as i" class="card shadow-sm">
            <div class="card-header text-dark" (click)="goToProduct(item ? item.name : '')">
              <h4 id="rubric21rubric32" class="card-title">{{item.name}}</h4>
            </div>
            <div class="card-body">


              <img id="rubric23" class="card-img-bottom img-thumbnail clickableImage" src={{item.imagelink}} appImgFallback
                alt="{{item ? item.name : 'Product-Image'}}"
                (click)="goToProduct(item ? item.name : '')">


              <div id="rubric22" class="card-text">{{item.price | currency}}</div>
            </div>
            <div class="card-footer">
              <button id="rubric24rubric30" class="btn btn-outline-dark" type="button"
                [class.selected]="item === selectedItem" (click)="addToCart(item)">Add
                <fa name="cart-plus"></fa>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
