<div class="container-fluid">
  <section id="secNotFound">
    <h2 class="sr-only">Not Found Page</h2>

    <div class="row">
      <div class="">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 class="title2">
          Error 404 :: Page not found.
        </h3>
        <div class="title3">
          You reached the end of the Internet.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="">

      </div>
    </div>
  </section>
</div>
