<div class="container">
  <section id="secContactPage">
    <h2 class="sr-only">Contact Page</h2>
    <section id="secContact">
      <h3 class="sr-only">Contact Info</h3>
      <!-- Form Row -->
      <div class="row">
        <div class="col">
          <!-- WhiteSpace -->
        </div>
        <div class="col-sm-6 mx-3">
          <form id="rubric57" #contactForm="ngForm" (ngSubmit)="onSubmit(model, contactForm)" novalidate>
            <div class="card text-center shadow-lg">
              <div class="card-header bg-secondary text-white">
                <h3 class="card-title">Contact Us</h3>
                <ul id="rubric58" class="list list-unstyled">
                  <li class="list-item">
                    World Wide Importers
                  </li>
                  <li class="list-item">
                    <fa name="phone" inverse="true"></fa> 0041 41 444 11 11
                  </li>
                  <li class="list-item">
                    <fa name="at"></fa> <a class="contactMail" href="mailto:nowhere@mozilla.org"> World Wide
                      Importers</a>
                </ul>
              </div>
              <div class="card-body mb-n3">
                <div class="form-group">
                  <label for="name" class="sr-only">Name</label>
                  <input type="text" class="form-control" id="txtName" required placeholder="Name"
                    [(ngModel)]="model.name" name="name" #name="ngModel">
                  <div [hidden]="name.valid || (name.pristine && !contactForm.submitted)" class="alert alert-danger">
                    Name is required
                  </div>
                </div>

                <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input type="email" class="form-control" id="txtEmail" required placeholder="Email"
                    [(ngModel)]="model.email" name="email" #email="ngModel">
                  <div [hidden]="email.valid || (email.pristine && !contactForm.submitted)" class="alert alert-danger">
                    Email is required
                  </div>
                </div>

                <div class="form-group">
                  <label for="subject" class="sr-only">Subject</label>
                  <select class="form-control" id="txtSubject" required placeholder="Subject"
                    [(ngModel)]="model.subject" name="subject" #subject="ngModel">
                    <div [hidden]="subject.valid || subject.pristine" class="alert alert-danger">
                      Subject is required
                    </div>
                    <option *ngFor="let subj of subjects" [value]="subj">{{subj}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="txtMessage" class="sr-only">Message</label>
                  <textarea class="form-control" id="txtMessage" rows="6" required placeholder="Message"
                    [(ngModel)]="model.message" name="message" #message="ngModel">
            </textarea>
                  <div [hidden]="message.valid || (message.pristine && !contactForm.submitted)"
                    class="alert alert-danger">
                    Message is required
                  </div>
                </div>
              </div>
              <div class="card-footer bg-secondary text-white">

                <button id="rubric59" Submitid="btnSubmit" type="submit" class="btn btn-outline-light">Send</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col">
          <!-- WhiteSpace -->
        </div>
      </div>
    </section>
    <section id="secModalContact">
      <h3 class="sr-only">Modal with Contact Info</h3>
      <!-- rubric60 -->
      <div class="backdrop" [ngStyle]="{'display':display}"></div>
      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-gradient-danger">
              <div class="modal-title text-left">Your Message</div>
              <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div *ngIf="model !== null" class="text-left">
                <p>{{model.message}}</p>
              </div>
            </div>
            <div class="modal-footer bg-gradient-danger">
              <button type="button" class="btn btn-outline-light" (click)="onCloseHandled()">Close</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>