<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md tempBorder">
      <img src="../../../assets/images/fallbackImage.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-sm-6 col-md-auto tempBorder">
      <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

          <div class="input-group mb-3" id="plusMinus">

              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button" id="button-addon1">+</button>
              </div>
              <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
               <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">-</button>
                </div>
            </div>

          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
  </div>
</div>
