/* You can add global styles to this file, and also import other style files */
// .tempBorder {
  // border-color: rebeccapurple;
  // border-style: solid;
  // border-width: 1px;
// }
// Custom.scss
// Option B: Include parts of Bootstrap
$enable-gradients : true;


// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

// // Required
// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";

// // Optional
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/code";
// @import "../node_modules/bootstrap/scss/grid";

// $enable-gradients: true;

// Responsible Font Size
@import "../node_modules/rfs/scss";

$SizeTitle1: 90; 
$SizeTitle2: 50; 
$SizeTitle3: 28; 
$SizeTitle4: 18; 

$factorXs: 0.5;
$factorMd: 0.75;
$factorLg: 1;
$factorXl: 2;


.title1 {

  @include media-breakpoint-up(xs) {
    @include rfs($SizeTitle1 * $factorXs);
  }
  @include media-breakpoint-up(md) {
    @include rfs($SizeTitle1 * $factorMd);
  }
  @include media-breakpoint-up(lg) {
    @include rfs($SizeTitle1 * $factorLg);
  }
  @include media-breakpoint-up(xl) {
    @include rfs($SizeTitle1 * $factorXl);
  }
}

.title2 {

  @include media-breakpoint-up(xs) {
    @include rfs($SizeTitle2 * $factorXs);
  }
  @include media-breakpoint-up(md) {
    @include rfs($SizeTitle2 * $factorMd);
  }
  @include media-breakpoint-up(lg) {
    @include rfs($SizeTitle2 * $factorLg);
  }
  @include media-breakpoint-up(xl) {
    @include rfs($SizeTitle2 * $factorXl);
  }
}

.title3 {
  @include media-breakpoint-up(xs) {
    @include rfs($SizeTitle3 * $factorXs);
  }
  @include media-breakpoint-up(md) {
    @include rfs($SizeTitle3 * $factorMd);
  }
  @include media-breakpoint-up(lg) {
    @include rfs($SizeTitle3 * $factorLg);
  }
  @include media-breakpoint-up(xl) {
    @include rfs($SizeTitle3 * $factorXl);
    }
}

.title4 {
  @include media-breakpoint-up(xs) {
    @include rfs($SizeTitle4 * $factorXs);
  }
  @include media-breakpoint-up(md) {
    @include rfs($SizeTitle4 * $factorMd);
  }
  @include media-breakpoint-up(lg) {
    @include rfs($SizeTitle4 * $factorLg);
  }
  @include media-breakpoint-up(xl) {
    @include rfs($SizeTitle4 * $factorXl);
  }
}


.clickableImage {
  cursor: pointer;
}


// make distance for icons globally
fa{
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
